.header__logo {
  margin-right: auto;
  width: 176px;
  height: 52px;
  cursor: url(../../../images/pointer.svg), pointer;
}

@media screen and (max-width: 720px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}