.place__paragraph {
  margin: 0 0 26px;
  color: #fff;
  font-size: 18px;
  line-height: 1.63;
  font-weight: normal;
}

@media screen and (max-width: 920px) {
  .place__paragraph {
    margin-bottom: 25px;
    font-size: 16px;
  }
}


@media screen and (max-width: 720px) {
  .place__paragraph {
    margin: 0 16px 25px;
  }
}