.intro__text {
  margin: 0 0 33px;
  max-width: 690px;
  color: #fff;
  font-size: 16px;
  line-height: 1.63;
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .intro__text {
    max-width: 720px;
  }
}