.intro {
  padding: 92px 148px;
}

@media screen and (max-width: 1150px) {
  .intro {
    padding: 92px 48px;
  }
}

@media screen and (max-width: 920px) {
  .intro {
    padding: 88px 24px;
  }
}

@media screen and (max-width: 720px) {
  .intro {
    padding: 64px 16px;
  }
}