@font-face {
  src: url(../../fonts/Inter-Regular.otf);
  font-family: 'Inter';
}

@font-face {
  src: url(../../fonts/Inter-Bold.otf);
  font-family: 'Inter';
  font-weight: bold;
}

.page {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1280px;
  background-color: #2A2C2F;
  font-family: 'Inter', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}